
//@media  only screen and (min-device-width: $desktop-min) and (max-device-width: $desktop-max){

.container {
  background-color: blue;
  margin: $standard-margin;
  padding: $standard-padding;

  @media screen and (min-width: $mini-tablet-min) and (max-width: $tablet-max){
    background-color: yellow;
  }

  @media screen and (min-width: $mobile-min) and (max-width: $mobile-max){
    background-color: orange;
  }
}

.full-container {
  width: $full-width;
  margin: none;
  padding: none;
}


.row {
  background-color: green;
  width: $desktop-max;
  min-height: 1%;
  margin: $standard-margin;
  padding: $standard-padding;
}

